<div id="<%= dom_id category %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= category.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Show products:</strong>
    <%= category.show_products %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Include in nav:</strong>
    <%= category.include_in_nav %>
  </p>

</div>
