<footer class="px-4 py-2 mt-2 flex justify-between border-t border-black">
  <div class="flex gap-2 items-center">
    <%= link_to "About", "#", class: "text-sm text-gray-800 hover:text-sky-600" %>
    <%= link_to "Contact", "#", class: "text-sm text-gray-800 hover:text-sky-600" %>
  </div>
  <div>
  <div class="text-gray-800">
    &copy; 2024 Nguyễn Văn Kỳ. All Rights Reserved.
  </div>
</footer>
